.navbar {
    background-color: pink;
}




#responsive {
  display: flex;
  margin: 0 auto;
  padding: 20px;
  border-radius: 150px;
  width: 50%;
  height: 50%;
}

/*/////////////////////////////////////////////////////////////////////////*/

.text:hover {
    opacity:1;
}



.fullpage {
    background-color: grey;
    height: 86vh;
    width: 100vw;
}


.halfheight{
    height: 50%;
}
/*///////////////////////IMAGES////////////////////////////////////////*/
.img1 {
    background-image: url('images/ssandberg.jpg');
    background-size: cover;
    background-position: center;
    filter: grayscale(100%);
}
.img2 {
    background-image: url('images/alovelace.jpg');
    background-size: cover;
    background-position: center;
    filter: grayscale(100%);
}
.img3 {
    background-image: url('images/gtrap.jpg');
    background-size: cover;
    background-position: center;
    filter: grayscale(100%);
}
.img4 {
    background-image: url('images/kjones.jpg');
    background-size: cover;
    background-position: center;
    filter: grayscale(100%);
}
.img5 {
    background-image: url('images/grometty.jpg');
    background-size: cover;
    background-position: center;
    filter: grayscale(100%);
}
.img6 {
    background-image: url('images/agoldberg.png');
    background-size: cover;
    background-position: center;
    filter: grayscale(100%);
}
.img7 {
    background-image: url('images/eniac.jpg');
    background-size: cover;
    background-position: center;
    filter: grayscale(100%);
}
.img8 {
    background-image: url('images/ghopper.jpg');
    background-size: cover;
    background-position: center;
    filter: grayscale(100%);
}


/*//////////////////////////////////////////////////////////////////////*/
.mobileheight {
    position: relative;
}

.authorheader {
    position: absolute;
    text-align: center;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);


}

.navbar-brand {
    font-family: 'Special Elite', cursive;
    font-size: 40px;
}

/*////////////////////////MOBILE CHANGES//////////////////////////////////////////*/
